.submit-btn{
    text-align: center;
    margin-bottom: 5%;
}
.submit-btn1{
    width: 50%;
}
.error-message{
    text-align: center;
}
.text{
    text-align: center;
}
.login{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.containerForm{
    padding-top: 5%;
    padding-bottom: 6%;
    border-radius: 2%;
    margin-top: 5%;;
    margin-bottom: 10%;
    background-color: #5081E5;
}
.image{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.colorText{
    color: #FFFFFF;
}
.avatarColor{
    background-color: #FFFFFF;
}
.iconP{
    padding-right: 10px;
}